# General
*.log
*.env
*.py[cod]
__pycache__/
.DS_Store
Thumbs.db

# Virtual environment
venv/
.env/

# Python-specific
*.py[cod]
*.pyo
*.pyd
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Django-specific
# media/
# static/
ecommerce/backend/sales_platform/static/
ecommerce/backend/sales_platform/media/
*migrations/
*migrations/*.pyc


# Node.js / React
ecommerce/frontend/node_modules/
ecommerce/frontend/build/
ecommerce/frontend/dist/
*.lock
*.env.local
*.env.development
*.env.production
*.env.test

# IDEs and editors
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db

