main {
  min-height: 60vh;
}

header a {
  text-decoration: none;
}

.rating span {
  margin: 0.175rem;
}

.product_card h3 {
  padding: 1rem 0 0 0;
}

.cart_page h3 {
  margin: 2rem 0;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel img {
  display: block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
}

.carousel a {
  margin: 0 auto;
}

@media (max-widht: 900px;) {
  .carousel-caption h3 {
    font-size: 2.5vw;
  }
}

.paymentForm {
  margin: 0 auto;
}

.carousel-control-next,
.carousel-control-prev 
/*, .carousel-indicators */ {
  filter: invert(100%);
}

.pull-image {
  -webkit-mask-image: url("../public/images/mask-image-distressed-smaller.png");
  mask-image: url("../public/images/mask-image-distressed-smaller.png");
  mask-repeat: no-repeat;
  mask-size: contain;
}

.carousel-inner {
  height: 300px;
}

.carousel-indicators button.active {
  background-color: var(--bs-info);
}

.product-imageJar {
  height: 180px;
}

.product-uploadedImage {
  max-width: 100%;
  max-height: 180px;
  height: auto;
  width: auto;
  object-fit: contain;
}
